/******************************************
********************************************

Montell Construction v2.0 Stylesheet

********************************************
******************************************

COLORS:

Header Color: #2a3539
Navigation Color: #4a4325
Footer Color: #4a4325;

*/

@import "style/css/reset.css";

/*******************************************
********************************************
B  O  D  Y   &   D  E  F  A  U  L  T  S 
********************************************
*******************************************/

html,body 										{ height: 100%; }
body											{ font-family: "Myriad Pro", Myriad, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 62.5%; margin: 0 auto; min-width: 1026px; }
/* defaults  */
h1												{ color: #324044; font-size: 2em; font-weight: bold; text-transform: uppercase; }
h2												{ color: #324044; font-size: 2em; font-weight: bold; text-transform: uppercase; }
h3												{ color: #000; font-size: 1.5em; }
p 												{ color: #000; font-size: 1.4em; line-height: 1.4em }
a 												{ color: #723e39; text-decoration: none; }
a:hover 										{ color: #723e39; text-decoration: underline; }
a:visited										{ color: #582017; text-decoration: none; }
.left 											{ float: left; }
.right											{ float: right; }
.clear											{ clear: both; }
/* clearfix */
.clearfix:after 								{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix 										{ display: inline-block; }
html[xmlns] .clearfix 							{ display: block; }
* html .clearfix 								{ height: 1%; }

/*
**************************
* =Form
**************************
*/

#submit {
	float: right;
}


/*
**************************
* =body
**************************
*/


/*
**************************
* =social
**************************
*/


/*
**************************
* =heading
**************************
*/

nav h1 ul{
	display: inline;
}