/*
**************************
* =form
**************************
*/

form {
	height: 240px;
	background: url(style/images/bigback.jpg);
}


.name{
	float: left;
	width: 240px;
}

.email {
	text-align: left;
}

.message {
	float: left;
}

.menu {
	float: right;
}



/*
**************************
* =social
**************************
*/

.social {
	display: inline;
	height: 22px;
}

/*
**************************
* =body
**************************
*/

.wrap {
	width: 810px;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
	
}

a {
	color: rgb(248,103,103);
	text-decoration: none;

}

.social ul li {
	display: inline;
}


.dropdown {
	border: 2em;
}

.dropdown li {
}

h1 {
	font: 3.5em;
	float: left;
	color: #5b6363;
	text-transform: uppercase;
	text-indent: 10px;

}


/*
**************************
* =heading
**************************
*/

nav img {
	float: left;
	padding: 50px 0px 50px 0px;

}

header nav {
	width: 810px;
	height: 125px;
}

nav .nav li{
	float: left;
	display: inline;
	margin: 0px -10px;
	padding: 50px 18px;
	text-transform: uppercase;
	color: #f98181;


}

nav .nav li a {
	padding: 6px 12px;
	
}

nav .nav li a:hover {
	background: #f86767;
	color: white;

}

.live {
	height:28px;
	display: inline;
}




/*
**************************
* =main
**************************
*/

.main {
	height: 280px;
}

.main img {
	float: left;
}




/*
**************************
* =service
**************************
*/

.service {
	height: 326px;
}

.service img {
	float: left;
}



/*
**************************
* =update
**************************
*/

.update {
			height: 435px;
			margin: auto;
}



/*
**************************
* =footer
**************************
*/

footer {
	clear: both;
	height: 75px;

}

footer ul li {
	display: inline;
	float: left;
	margin: auto;
	padding: 20px 0px 40px 0px;
}