/*
******************************
 *****   =MISC   *****
******************************
*/ 
.inner {
	width: 830px;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: rgb(129,135,135);
}
a {
	color: rgb(91,99,99);
	text-decoration: none;
}'
a:hover { color: rgb(248,103,103); }
.social ul li { display: inline; }
.dropdown { border: 2em; }
h1 {
	font: 3.5em;
	color: rgb(45,49,49);
	text-transform: uppercase;
	text-indent: 10px;
}
#contact, #main, #other, #foot, #top_header {
	background: url(style/images/background.jpg);
}
#header, #service{
	background: url(style/images/headerback.jpg);
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after { clear: both; }
.group { zoom: 1; }
/*
******************************
 *****   =FORM   *****
******************************
*/ 
#contact { 
	max-height: 237px; 
	border-bottom: solid 1px rgb(181,181,181); 
}
.connect { height: 60px; }
.form h1 { padding-bottom: 13px; float:left; }
.form a { float: right; }
.form h1, .form a{
	margin: 26px 10px 10px 0px;
}
.name{
	clear: both;
	float: left;
	width: 260px;
	margin: 0px 15px 0 10px;
}
.name p {
	margin: 0 0 7px 7px;
	clear: both;
}
#name { margin-top: 10px; }
#firstname { width: 110px; }
#lastname { width: 140px; }
#firstname, #lastname {
	height: 30px;
	float: left;
}
.email { text-align: left; }
#email { width: 90px 185px; }
.message {
	float: left;
	margin: 0px 15px 36px 15px;
}
.message h2 {margin: 0 0 7px 7px; }
#message {
	height: 120px;
	width: 366px;
}
section {
	float: right;
	width: 115px;
	margin: 0 3 0 15px;
}
.form .submit {
	float: right;
	margin: 33px 0 0 27px;
}
/*
******************************
 *****   =TOP_HEADER  *****
******************************
*/ 
#top_header {
	height: 20px;
	border: solid 1px white;
}
.social {
	display: inline;
}
.social h2 { 
	float: left;
	padding: 4px 20px 0 0;
}
.social img {
	float: right;
	margin: 4px 3px 0 16px 
}
.social_media a {
	background: url(style/images/twitter_logo.png) no-repeat;
	text-indent: -9999px;
}
.social_media a:hover {	background-position: 0 -13px; }
.social .dropdown {	
	float: left; 
	margin-top: 4px;
}
.logo {	
	float: left; 
	margin: 4px 0 0 40px;
}
.logo li {
	padding-right: 40px;
}

/*
******************************
 *****   =DROP_DOWN'S   *****
******************************
*/ 
/* 
	LEVEL ONE
*/
ul.dropdown li { 
	font-weight: bold; 
	float: left; zoom: 1; 
	background: rgb(212,212,212);
} /* -- TO EDIT BOX -- */
ul.dropdown a:hover	{color: rgb(91,99,99);}
ul.dropdown a:active {color: rgb(242,242,242);}
ul.dropdown li a { 
	float:  left;
	display: block; 
	/*padding: 4px 8px; */
	border-right: 1px solid #333;
	color: rgb(120,126,126); 
} /*-- TO EDIT TEXT --*/
ul.dropdown li:last-child a {border-right: none; }
ul.dropdown li a.hover,
ul.dropdown li a:hover { 
	background:rgb(248,103,103); 
	color: black; 
	position: relative; 
}
ul.dropdown li.hover a {color: rgb(248,103,103);}
/* 
	LEVEL TWO
*/
ul.dropdown ul { 
	width: 220px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
}
ul.dropdown ul li { 
	font-weight: normal; 
	background: #f6f6f6; 
	color: #000; 
	border-bottom: 1px solid #ccc; 
	float: none; 
	}
ul.dropdown ul li a	{
 border-right: none;
 width: 100%; 
 display: inline-block; 
} 
/* 
	LEVEL THREE
*/
ul.dropdown ul ul { 
	left: 100%; 
	top: 0; 
}
ul.dropdown li:hover > ul	{visibility: visible;}
/*
******************************
 *****   =HEADER_PAGES   *****
******************************
*/ 
#header {
	height: 124px;
	border-bottom: solid 1px rgb(218,217,217)
}
header nav h1 {
	width: 326px;
	height: 42px;
	float: left;
	margin: 40px 50px 43px 0px;
	text-indent: -9999px;
}
header h1 {
	background: url(style/images/nlc_logo.png) no-repeat;
	}
header h1:hover {
	background-position: 0 -42px;
}
nav .nav li{
	float: left;
	display: inline;
	padding: 50px 0px 48px 50px;
	margin: 0px -10px;
	padding: 50px 18px;
	text-transform: uppercase;
}
header a {
	padding: 6px 12px 8px 12px;
	color: rgb(91,99,99);
} 
header a:hover {
	color: #f86767;
}
nav .selected {
	color: white !important;
	background: #f86767;
}
/*
******************************
 *****   =LIVE SERVICE   *****
******************************
*/ 
#live {
	height: 27px; 
	border-bottom: solid 1px rgb(159,168,168) 
}
.live h2{float: left;}
.live p {float: right;}
.live p, h2 {padding-top: 6px;}

/*
******************************
 *****   =CAMPUSES   *****
******************************
*/ 
#main {
	height: 281px;
	border-bottom: solid 1px rgb(181,181,181)
}
#map {margin: 30px 0 40px 0px;}
img {	float: left;}
#map {
	display: block;
	border: solid 10px rgb(91,99,99);
}
.map {
	height: 200px;
	width: 500px;
	float: left;
	margin-top: 40px;
	background: black;
}
/*
******************************
 *****   =SERVICES   *****
******************************
*/ 
#service {
	height: 325px;
	border: solid 1px white;
	border-bottom: solid 1px rgb(207,210,210);
}
.worship h1 {
	padding-top: 40px;
	float: left;
	text-align: left;
}
.worship a {
	float: right;
}
#worship{
	width: 301px; 
	height: 170px;
	/*background: url(style/images/worship.jpg) no-repeat;*/
	/*background: rgb(30,32,32);*/
	/*border-width: 15px; */
	border: solid 14px rgb(91,99,99);
	/*border-style: double;*/
	float: left;
	margin: 40px 0 0 10px;
	position: relative;
}
.worship_info {
	width: 424px;
	margin-top: 54px;
	float: left; 
	background: white;
}
/*
******************************
 *****   =RECENT UPDATES   *****
******************************
*/ 
#update {
	height: 432px; 
	background: white;
}
.update h1 { 
	padding: 47px 28px 33px 10px; 
	float: left;
}
.update ul { padding: 47px 10px 33px 0; }
.update li {
	display: inline;
	padding: 47px 10px 33px 0;
}
.update li:first-child {padding-right: 13px;}
.update li:last-child {margin-left: 155px; }
.update img {
	padding-top: 0px 10px;
	border: solid 11px rgb(239,239,239)
}
.img1 {
	float: left;
}
.img2 {
	float: left;
	margin: 0 28px 0 28px
}
.img3	{
	float: left;
}
.update h2, p {
	margin-left: 11px;
}
/*
******************************
 *****   =FOOTER   *****
******************************
*/ 
#foot { 
	height: 75px; 
	border-top: solid 1px rgb(164,176,176);
}
footer ul li {
	display: inline;
	float: left;
	margin: auto;
	padding: 20px 0px 40px 0px;
}


























